body {
    font-family: 'Open Sans', sans-serif;
}

#header {
    margin-bottom: 10px;    
    border-bottom: 1px solid #eee;
    font-weight: 400;
}

#header h1 {
    padding: 1.5rem;
}

.title.has-no-margin {
    margin: 0;
}

.section.is-small {
    padding: 1.5rem;
}

.has-text-weight-bold {
    font-weight: bold;
}

.component {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.component .description {
    font-size: 0.9em;
}

.component svg {
    margin-top: auto;
}
