body {
    font-family: 'Open Sans', sans-serif;
}

#header {
    margin-bottom: 10px;    
    border-bottom: 1px solid #eee;
    font-weight: 400;
}

#header h1 {
    padding: 1.5rem;
}

.tabs ul {
	flex-wrap: wrap;
}

#source-url * {
	vertical-align: middle;
}

.title.has-no-margin {
    margin: 0;
}

.section.is-small {
    padding: 1.5rem;
}

.has-text-weight-bold {
    font-weight: bold;
}

svg {
    overflow: visible;
}

svg .overlay {
	outline: none;
}

.component {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.component .description {
    font-size: 0.9em;
    margin-bottom: 7px;
}

.component svg {
    margin-top: auto;
}

.focus circle {
    fill: #F1F3F3;
    stroke: rgb(0, 67, 125);
    stroke-width: 2px;
    fill-opacity: .5;
}

.focus .hover-line {
  stroke: #555;
  stroke-width: 1px;
}

.focus .tooltip tspan {
    fill: #F1F3F3;
}

.focus .tooltip rect {
    border-radius: 20px;
}

.domain {
    stroke: #777;
}

.tick line {
    stroke: #aaa;
}

.axis .tick text {
    fill: #222;
}
.component .axis.y-axis-left text {
	fill: rgb(0, 114, 178);
}
